.sidebar {  
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    background-color: #F4FAFF;
    border-radius: 20px 0 0 20px;
    padding: 50px 0 0px 60px;
    width: 10%;
    
    
}


.general-item
{
    display: flex;
    align-items: center;
    gap: 10px;
    color:#838C97;
    margin-bottom: 35px;
    font-size: larger;
    

}

.tool-item
{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #838C97;
    margin-bottom: 35px;
    font-size: larger;

}

.title-health
{
    color: #36C5CB;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 30px;
}

.title-care
{
    color: #0D0A3B;
}

.general,.tools
{
    color: #b2b8c0;
    font-size:medium;
    margin-bottom: 25px;
}

.dashboard-highlight {
  color: #171A5B;
}

#settings {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #838C97;
    margin-top: auto; 
}

.tools{
    margin-top: 50px;
}

.general{
    margin-top: 10px;
}