.calendarContainer {
    padding: 10px 30px 0 30px;
    margin-top: 25px;
}



.calendarText {
    color: #352B9A;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
    align-items: center;
}

.month {
    margin-right: auto;
    font-size: larger;
}

.calendarDaysContainer {
  display: flex;
  flex-direction: column;
  
  padding: 30px 0px;
  width: 100%;
}

.calendarRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarCell {
  position: relative;
  text-align: center;
  padding: 8px;
  color: #21224C;
  font-size: medium;
  
}

.row-0,.row-1
{
  font-weight: bold;
}

.col-6
{
  color: #8F949D;
}
.row-3.col-1
{
  color: white;
  background-color: #352B9A;
}

.col-1 {
  background-color: #eef0ff; 
  
}
.row-3.col-3
{
  background-color: #B2B7D6;
  color: white;
}

.row-2.col-5,.row-2.col-6
{
  background-color: #B2B7D6;
  color: white;
}

.hasDot::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}
