img
{
    width: 50px;
    height: 50px;
}

.card {
  width: 50%;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;      
  align-items: flex-start;      
  background-color: #F7FBFF;
  margin: 10px;
  border-radius: 20px;
  padding: 16px 0px 18px 25px;
  gap: 8px;
  overflow: hidden;
  height: 100%;
}


#img-container {
  display: flex;
  gap: 12px;
  width: 100%; 
  padding-bottom: 5px;        
}

.date
{
    width: 100%;
    height: 100%;
    color: #b8bec7;
    font-size: small;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;

}

.name
{
    color: #463E6B;
    font-weight: bold;
    display: flex;
    align-items: center;
}


@media (max-width : 430px)
{
  .card
  {
    margin: 0;
  }
}