.dashboard
{
    display: flex;
    flex-direction: row;
    
    
}
.overview
{
    width: 50%;
}


@media (max-width : 430px)
{
    .overview
    {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .dashboard
    {
        display: flex;
        flex-direction: column;
    }
}