.health-status-card {
  width: 55%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

}
.details
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin : auto 0;
  color: #2634ad;
  padding-right: 60px;
  font-size: 12px;
  font-weight: bold;
}


@media (max-width : 430px)
{
  .health-status-card
  {
    width: 90%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}